body {
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .8)), url("./../img/background.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:scroll;
}